/* 
	media rules regarding screen sizes are before the mobile rules
	so that the mobile rules can take priority.
	*/


/* these queries allow the icons and name to always be on one line. */
@media (max-width: 850px) {
	.aboutMe_, .connect_, .resume_ {
		width: 90%;
	}

	.connect_ ul li {
		width: 100%;
		padding: 0 3% 0 3%;
	}

	.connect_ ul li a img {
		width: 60px;
		height: 60px;
	}

	h1 {
		font-size: 4em;
	}

	nav {
		top: 290px; 		/* when font size is smaller on a small window */
	}
}

@media (max-width: 600px) {
	.connect_ ul li {
		width: 100%;
		padding: 0 3% 0 3%;
	}

	.connect_ ul li a img {
		width: 40px;
		height: 40px;
	}

	h1 {
		font-size: 3em;
	}

	nav {
		top: 290px; 		/* when font size is smaller on a small window */
	}
}

/* changes connect icons */
@media (max-width: 586px) {
	.connect_ ul li a img {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 480px) and (min-width: 374px) {
	nav {
		top: 233px; 		/* when font size is smaller on a small window */
	}
}


/* ********************************************************************** */
/*
	mobile changes:
		• mobile devices have less margin on the side
		• connect has a 100% width and icons are 48x48 to accomodate icons on mobile
		• headings and text have been resized to look better on mobile
		• profile picture and h1 are larger 
	*/

@media only screen and (max-device-width: 480px) {
	.aboutMe_ p {
		margin: 10px 20px 10px;
	}

	.aboutMe_, .connect_, .resume_ {
		width: 100%;
		
		padding: 0 0 0 0;
	}

	.connect_ ul {
		width: 100%;
	}

	.connect_ ul li {
		width: 100%;
		padding: 0 1.7% 0 1.7%;
	}

	.connect_ ul li a img {
		width: 48px;
		height: 48px;
	}

	h1 {
		font-size: 3em;

	}

	h2 {
		font-size: 2em;
		
	}

	h3 {
		font-size: 1.4em;
		line-height: 1;
	}

	h4 {
		font-size: 1em;
		line-height: 1em;
		padding-top: 6px;
	}

	h5 {
		font-size: .84em;
		
	}

	.headerBlock {
		margin: 0 0 90px;
		padding: 40px 0 3px 0;		/* 3 to make header exactly 290px */
	}

	.involvement ul, .langTech ul{
		padding-top: 6px;
	}

	nav {
		background: #039be5;
		line-height: 56px;
		font-size: 1.1em;
		text-align: center;
		top: 290px;

	}

	#navUl {
		background-color: #039be5;

	}	

	p {
		font-size: .86em;

	}

	.profile {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		padding: 0;
	}

	.resumeDownload {
		font-size: .84rem;
	}

	section {
		margin-bottom: 10px;
	}

	.timeBreak {
		display: inline;
	}

	ul li {
		font-size: .86em;
	}
}

