.aboutMe_ {
	background-color: #FFFFFF;
}

.aboutMe_, .connect_, .resume_ {
	text-align: center;
	margin: 0 auto 0;
	padding: 0;
	width: 70%;
	border-radius: 25px;
}

body {
	font-family: Lato, sans-serif;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.timeBreak {
	display: none;
}

.connect_ {
	background-color: #FFFFFF;
}

.connect_ ul {
	margin: auto;
	padding: 20px 0 0;
	text-align: center;
}

.connect_ ul li {
	display: inline;
	list-style-type: none;
	padding: 0 5% 0 5%;
}

.connect_ ul li a img {
	height: 60px;
	width: 60px;
}

footer {
	font-size: small;
	color: #BDBDBD;
	padding: 50px 0 10px;
}

h1 {
	font-family: Roboto, sans-serif;
	font-size: 6em;
	font-weight: 100;
	line-height: 1.2;
	color: white;
	text-align: center;
	padding: 30px 0 0 0;
	margin: 0 0 0 0;
}

h2 {	
	font-size: 4em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
	margin: 0;
	padding: 60px 0 0;
}

h3 {
	font-size: 2em;
	text-align: left;
	margin: 0;
	line-height: 1;
}

h4 {	
	font-size: 1.1em;
	margin: 0;
	text-align: left;
	padding-top: 10px;
}

h5 {
	display: block;
	color: #424242;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	
}

.headerBlock {
	position: relative;
	z-index: 7;
	width: 100%;
	background-color: #039be5;
	margin: 0 0 70px;
	padding: 75px 0 27px 0px;		/* 27 to make header exactly 350px */
	text-align: center;

}

/* puts spacing between h3 and list, since there is no h4 to add space */
.involvement ul, .langTech ul{
	padding-top: 10px;
}

/* allows the two lists to be together, since they are both under */
.ivnTech {
	margin-bottom: 0;
	padding-bottom: 5px;
}

/* lets the download link be at the bottom of the lang section */
.langTech {
	margin-bottom: 0px;

}

/*mobile menu button*/
#menu {
	display: none;
}

nav {
	position: absolute;
	background-color: #039be5;
	font-size: 1.3em;
	line-height: 56px;
	top: 350px;	
	z-index: 2;
	width: 100%;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 3%;
	padding-left: 3%;
}

#navUl {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0,0,0,.28), 0 0 4px rgba(0,0,0,.14);
}

#navUl li a {
	color: #FFFFFF;
}

p {
	font-weight: 400;
	font-size: 1em;
}

.profile {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.quote {
	font-size: x-small;	
}

section {
	background-color: #EEEEEE;
	border-radius: 10px;
	margin: 0 20px 30px;
	padding: 10px 13px 15px;		/* 13 to match line height for headings */
}

time {
	font-style: italic;
	font-size: smaller;
	font-weight: 400;
}

.time {
	font-style: italic;
	font-size: smaller;
	font-weight: 400;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
}

ul li {
	text-align: left;
}

/* The following is for the active resume link */
/* Created by Brenden Palmer: http://codepen.io/brenden/pen/RNZXqx */
.resumeDownload {
	background-color: #FFFFFF;
	text-align: right;
	padding: 10px 20px 0 0;
	margin-bottom: 0;
}

a,a:visited,a:hover,a:active{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
	position: relative;
    transition: .25s color ease;
	text-decoration: none;
	color: #000000;
	font-size: 1em;
}

a:hover{
	color:#039be5;
}

a.before:before,a.after:after{
    content: "";
    transition: .25s all ease;
    -webkit-backface-visibility: hidden;
            backface-visibility:hidden;
    position: absolute;
}

a.before:before{
    top: -0.25em;
}

a.after:after{
    bottom: -0.25em;
}

a.before:before,a.after:after{
    height: 5px;
    height: 0.2rem;
    width: 0;
    background: #039be5;
}

.square{
    box-sizing:border-box;
    text-align: left;
    position: relative;
    font-size: 1em;
    overflow: hidden;
}

.square a{
    position:static;
    text-align: left;
    font-size: 100%;
    padding: 0.2em 0.4em;
}

.square:before,.square:after{
  	content: "";
	box-sizing: border-box;
	transition: .8s all ease;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	position: absolute;
	width: 5px;
	width: 0.2rem;
	height: 0;
	background: #039be5;
}

.square:before{
	left: 0;
	border-radius: 10px;
	bottom: -0.2em;
}

.square:after{
	right:  0;
	border-radius: 10px;
	top:-0.2em;
}

.square a:before{
    left: 0;
    border-radius: 10px;
    transition: .6s all ease;
}

.square a:after{
    right: 0;
    border-radius: 10px;
    transition: .6s all ease;
}

.square:hover:before,.square:hover:after{
  	height:calc(100% + 0.4em);
}

.square:hover a:before,.square:hover a:after{
    width: 100%;
}